
.post-editor-container {
  max-width: 600px;
  border: 1px solid #ddd;
  padding: 13px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-editor-header {
  display: flex;
  align-items: center;
  padding: 8px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  background-color: midnightblue;
  border-radius: 50%;
  margin-right: 12px;
}

.post-editor-textarea {
  flex: 1;
  border: solid 2px cornflowerblue;
  padding: 8px 12px;
  background-color: #f0f2f5;
  border-radius: 20px;
  font-size: 16px;
  resize: none;
  outline: none;
  cursor: pointer;
}

.post-editor-textarea:hover {
  background: #e4e6eb;
}

.post-editor-actions {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
}

.action-button {
  font-size: 14px;
  color: #606770;
  border: 1px solid midnightblue;
  background-color: #f0f2f5;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.action-button:hover {
  background-color: #e4e6eb;
  border-color: #ccc;
}

.modal-post-button {
  background: #1877f2;
  color: white;
}

.modal-post:hover {
  background: #145dbb;
}

.post-feed{
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}