.user-logo-container {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
}

.user-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-logo-avatar:hover{
  background: #cccccc;
  border-radius: 0;
}

.userModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-logo-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid lightslategray;
}

.user-logo-avatar:hover {
  background: cadetblue;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}